@charset "UTF-8";

@font-face {
    font-family: 'gemunu';
    src: url(../font/GemunuLibre-Regular.ttf) format('truetype');
    src: url(../font/GemunuLibre-Light.ttf) format('truetype');
    src: url(../font/GemunuLibre-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: 'tourney';
    src: url(../font/Tourney-Regular.ttf) format('truetype');
    src: url(../font/Tourney-Light.ttf) format('truetype');
    src: url(../font/Tourney-ExtraBold.ttf) format('truetype');
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

:root{
    --cor0: #222D4A;	/* Main Primary color */
    --cor1: #4C5367;
    --cor2: #323848;
    --cor4: #040F2B;
    --cor3: #111E42;

    --font-padrao: 'gemunu', sans-serif;
    --font-destaque: 'tourney', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-family: var(--font-padrao), 'Segoe UI', Tahoma, sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background: linear-gradient(150deg, #bbdeff, #2f363d);
    background-repeat: no-repeat;
    position: relative;
}

header {
    background-color: rgba(0, 0, 0, 0.371);
    display: block;
    position: relative;
    top: 0%;
    width: 100vw;
    height: 30px;
}

footer {
    background: linear-gradient(180deg, #97aec4, #2f363d);
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: .8em;
    position: fixed;
    bottom: 0%;
    width: 100vw;
    height: max-content;
    padding-bottom: 2px;
}