@charset "UTF-8";

@font-face {
    font-family: 'gemunu';
    src: url(../font/GemunuLibre-Regular.ttf) format('truetype');
    src: url(../font/GemunuLibre-Light.ttf) format('truetype');
    src: url(../font/GemunuLibre-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: 'tourney';
    src: url(../font/Tourney-Regular.ttf) format('truetype');
    src: url(../font/Tourney-Light.ttf) format('truetype');
    src: url(../font/Tourney-ExtraBold.ttf) format('truetype');
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

:root{
    --cor0: #222D4A;	/* Main Primary color */
    --cor1: #4C5367;
    --cor2: #323848;
    --cor4: #040F2B;
    --cor3: #111E42;

    --font-padrao: 'gemunu', sans-serif;
    --font-destaque: 'tourney', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-family: var(--font-padrao), 'Segoe UI', Tahoma, sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

html, body {
    width: 100vw;
    height: 100%;
}

body {
    background: linear-gradient(150deg, #98e0ff, #2f363d);
    position: relative;
}

header {
    width: 100vw;
    background: linear-gradient(150deg, #ffffff,#2f363d);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.633);
    display: block;
    position: relative;
    top: 0%;
    width: 100vw;
    height: 30px;
}

header > img {
    background: linear-gradient(180deg, #ffffff 30%,#2f363d 100%);
    border-radius: 50%;
    padding: 1px;
    width: 25px;
    position: relative;
    bottom: -5%;
    left: 2px;
    display: flex;
    align-items: baseline;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.511) ;
}

header > a {
    width: max-content;
    text-decoration: none;
}

main {
    width: 100%;
    height: 100%;
    background-color: #00185842;
}

footer {
    background: linear-gradient(180deg, #97aec4, #2f363d);
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: .8em;
    position: fixed;
    bottom: 0%;
    width: 100vw;
    height: max-content;
    padding-bottom: 2px;
}